h1 {
  background-color: lightblue;
  font-family: "Verdana";
  font-style: bold;
  font-style: italic;
  font-size: 40 px;
}

div {
  background-color: lightblue;
}

p {
  background-color: lightblue;
  font-family: "Verdana";
  font-style: italic;
  font-size: 20px;
}

.nav {
  background-color: gray; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-family: "Verdana";
  font-style: italic;
  color: blue;
  font-size: 20px;
  padding: 20px;
}


p.strom {
	
}

p.span{
	
	
}