h1 {
  font-family: "Verdana";
  margin-left: 40px;
  font-style: italic;
  font-size: 40 px;
}


body {
	background-color: #b3cccc;
}

ul {
  list-style-type: square;
  margin-left: 50px;
  padding: 20px;
  font-family: "Verdana";
  font-size: 20px;
}

p {
  background-color: lightblue;
  font-family: "Verdana";
  font-style: italic;
  font-size: 20px;
}

p.strom {
	
}

p.span{
	
	
}