h1 {
  font-family: "Verdana";
  margin-left: 100px;
  font-style: italic;
  font-size: 40 px;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  text-align: left;

}

tr:nth-child(even) {background-color: #f2f2f2;}
div {
	align: center;
  margin-left: 100px;
  padding: 20px;
  font-family: "Verdana";
  font-size: 20px;
	
}

body {
	background-color: #b3cccc;
}

ul {
  list-style-type: square;
  margin-left: 100px;
  padding: 20px;
  font-family: "Verdana";
  font-size: 20px;
}

p {
  background-color: lightblue;
  font-family: "Verdana";
  font-style: italic;
  font-size: 20px;
}

p.strom {
	
}

p.span{
	
	
}